.canvas_style {
    border: 1px solid white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 400px;
}

.button1_style {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    border: 1px solid white;
    color: white;
    font: Serif;
    padding: 15px 32px;
    font-size: 16px;
}


.button2_style {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    border: none;
    color: white;
    font: Serif;
    font-size: 16px;
    outline: none;
    display: none;
}

.main_style {
    background-color: black;
}

.header {
    border: 1px solid white;
    width: 100%;
    height: 100px;
    line-height: 90px;
    color: white;
    font: Serif;
    font-size: xx-large;
    text-align: center;
    vertical-align: middle;
}