.canvas_style {
    border: 1px solid white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 400px;
}

.main_div {
    display: none;
    background-color: black;
    color: white;
    font: Serif; 
}

.bottom_side {
    position:absolute;
    bottom:-15%;
    text-align: center;
}

.form_style {
    background-color: black;
    color: white;
    font: Serif;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
}

.score_style {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 480px;
    vertical-align: top;
    text-align: left;
    padding: 15px 32px;
}

.user_style {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 480px;
    vertical-align: top;
    text-align: right;
    padding: 15px 32px;
    background-color: black;
    color: white;
    font: Serif;
}

.button1_style {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    border: 1px solid white;
    color: white;
    font: Serif;
    padding: 15px 32px;
    font-size: 16px;
}


.button2_style {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    border: none;
    color: white;
    font: Serif;
    font-size: 16px;
    outline: none;
    display: none;
}

.main_style {
    background-color: black;
}

.header {
    border: 1px solid white;
    width: 100%;
    height: 100px;
    line-height: 90px;
    color: white;
    font: Serif;
    font-size: xx-large;
    text-align: center;
    
}

.footer {
    text-align: right;
    vertical-align: bottom;
    color: #6c757d;
}