{% extends "layout.html" %}

{% block title %}
    Snake Game
{% endblock %}!

{% block main %}
    <div class="header">
        SNAKE
    </div>
    <h2 class="main">This was CS50!</h2>
    {% if username is defined %}
    <p class="user_style">Currently Playing as {{ username }}</p>
    <div>
        <button class="button1_style" id="button_st" onclick="run_game()">Start the Game!</button>
    </div>
    <div class="main_div" id="div_canvas">
        <p class="score_style">Score: <em id="score" style="font : Serif">0</em></p>
        <canvas class="canvas_style" id="canvas1"></canvas>
    </div>
    <div>
        <button class="button2_style" id="button_go" onclick="run_game()">Game Over! <br> 
            <span style="font-size: 10px"> Press here to start again </span></button>
        <p class="button2_style" id="button_pa">Game Paused! <br> 
            <span style="font-size: 10px"> Press Arrow-key to resume </span></p>
    </div>
    {% else %}
    <form action="/login" method ="post" class="form_style">
        <label>Enter Name:</label>
        <input type="text" name="user" autofocus>
    </form>
    {% endif %}
    <script type=text/javascript src="{{
        url_for('static', filename='script.js')
      }}"></script>
{% endblock %}