{% extends "layout.html" %}

{% block title %}
    Snake Game
{% endblock %}!

{% block main %}
    <div class="header">
        SNAKE
    </div>
    {% if username is defined %}
    <p class="user_style">Currently Playing as {{ username }}</p>
    <div>
        <button class="button_start" id="button_st" onclick="run_game()">Start the Game!</button>
        <form action="/change" method ="post">
            <input type="submit" class="button_change" id="button_ch" value="Change Name">
        </form>
    </div>
    <div class="main_div" id="div_canvas">
        <p class="score_style">Score: <em id="score" style="font : Serif">0</em></p>
        <canvas class="canvas_style" id="canvas1"></canvas>
    </div>
    <div>
        <button class="button2_style" id="button_go" onclick="run_game()">
            Game Over! <br> 
            <span style="font-size: 10px"> Press here to start again </span>
        </button>
        <p class="button2_style" id="button_pa">
            Game Paused! <br> 
            <span style="font-size: 10px"> Press Arrow-key to resume <br> Press Backspace to go back to Main Menu</span>
        </p>
    </div>
    {% else %}
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning" style="text-align: center;">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}
    <form action="/login" method ="post" class="form_style">
        <label>Enter Name:</label>
        <input type="text" name="user" autofocus>
    </form>
    {% endif %}
    <div class="container-fluid bottom_side">
        <div class="row">
            <div class="col-12 col-md">
                Test text.
            </div>
            <div class="col-12 col-md-auto">
                <div style="width:400px;">
                    <h3>Leaderboard</h3>
                    <table class="table-l table-bordered table-dark" style="background-color: black; width: 400px;">
                        <thead>
                            <th scope="col">#</th>
                            <th scope="col">Score</th>
                            <th scope="col">Name</th>
                        </thead>
                        <tbody>
                            {% for entry in scoreboard %}
                            <tr>
                                <th scope="row">{{ loop.index }}</th>
                                <td>{{ entry[2] }}</td>
                                <td>{{ entry[1] }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-12 col-md">
                <h2 class="footer">This was CS50!</h2>
            </div>
        </div>
    </div>
    <script type=text/javascript src="{{
        url_for('static', filename='script.js')
      }}"></script>
{% endblock %}